{% extends 'base.html' %}
{% load static %}
{% block title %}Colaboradores{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'colaborador.css' %}">

<h2 class="mb-4">Pesquisar Usuário</h2>

<form method="get" class="d-flex mb-3">
  <input type="text" name="busca" value="{{ request.GET.busca }}" class="form-control me-2" placeholder="Pesquisar pelo nome">
  <button class="btn btn-outline-light">Buscar</button>
</form>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

{% if colaboradores %}
<table class="table table-dark table-bordered text-center align-middle">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Cargo</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for colaborador in colaboradores %}
    <tr>
      <td>{{ colaborador.nome }}</td>
      <td>{{ colaborador.cpf }}</td>
      <td>{{ colaborador.cargo }}</td>
      <td>
        <a href="{% url 'editar_colaborador' colaborador.id %}" class="btn btn-sm btn-warning">Editar</a>
        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusao{{ colaborador.id }}">Deletar</button>
      </td>
    </tr>

    <!-- Modal de confirmação -->
    <div class="modal fade" id="confirmarExclusao{{ colaborador.id }}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
          <form method="post" action="{% url 'excluir_colaborador' colaborador.id %}">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title">Remover Usuário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Você quer remover esse usuário?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Remover</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="alert alert-warning mt-3">Desculpe, mas não encontramos dados correspondentes à sua busca :(</div>
{% endif %}
{% endblock %}
